.App {
  text-align: center;
}

.App-header {
  background-color: #09a99e;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.lifeImage{
  border-radius: 15px;
  height: 150px;
  width: 125px;
  margin: 5px;
  padding: 25px;
}

.likeButton {
  width: 75px;
  height: 25px;
  background-color: #09a99e;
  border: none ;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
}

.deleteButton {
  width: 75px;
  height: 25px;
  background-color: #555;
  border: none ;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
}

.galleryOfPics {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: ivory;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
    
}

