.App {
  text-align: center;
}

.App-header {
  background-color: #09a99e;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.images {
  display: inline;
}

.lifeImage{
  border: 100px, solid, #555;
}

.likeButton {
  top: 10%;
  left: 10%;
  transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.likeButton:hover {
  background-color: #09a99e;
}

